<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>JavaEdge</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <div id="root">
      <input type="text" v-model="inputValue"/>
      <button v-on:click="handleBtnClick">提交</button>
      <ul>
        <!--list 的每项值赋给 item,再将其通过 v-bind 传给组件.-->
        <todo-item v-bind:content="item"
                   v-for="item in list">
        </todo-item>
      </ul>
    </div>

  <script>

    // 定义名为 TodoItem 的全局组件
    // Vue.component("TodoItem", {
    //   props: ['content'],
    //   template: "<li>{{content}}</li>"
    // })

    var TodoItem = {
      props: ['content'],
      template: "<li>{{content}}</li>"
    }

    var app = new Vue({
      el: "#root",
      // 将 TodoItem 注册到 Vue 实例
      components: {
        TodoItem: TodoItem
      },
      data: {
        totalValue: "",
        list: []
      },
      methods: {
        handleBtnClick: function () {
          this.list.push(this.inputValue)
          this.inputValue = ''
          // alert(this.inputValue)
        }
      }
    })
  </script>

  </body>
</html>



