<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>JavaEdge</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <div id="root">
      <input type="text" v-model="todoValue"/>
      <button v-on:click="handleBtnClick">提交</button>
      <ul>
        <!--将索引 index 传递给子组件-->
        <todo-item :content="item"
                   :index="index"
                   v-for="(item, index) in list"
                   @delete="handleItemClick">
        </todo-item>
      </ul>
    </div>

  <script>

    var TodoItem = {
      // 接收父组件传来的 index 索引
      props: ['content', 'index'],
      template: "<li @click='handleItemClick'>{{content}}</li>",
      methods: {
        handleItemClick: function () {
          // alert("click")
          // 向外传播事件时,将索引也发出
          this.$emit("delete", this.index);
        }

      }
    }

    var app = new Vue({
      el: "#root",
      components: {
        TodoItem: TodoItem
      },
      data: {
        todoValue: "",
        list: []
      },
      methods: {
        handleBtnClick: function () {
          this.list.push(this.todoValue);
          this.todoValue = ''
        },
        handleItemClick: function (index) {
          // alert("delete");
          // alert(index);
          // 清空子组件
          // this.list = []
          // 删除索引对应数据
          this.list.splice(index, 1)
        }
      }
    })


  </script>
  </body>
</html>



